.slst_body {
  width: auto;
  height: auto;

  .table-card-slst {
    //todo
    display: grid;
    grid-template-columns: repeat(2,auto) minmax(100px,390px) 1fr 128px auto;
/*
    @include respond-to("small-phone") {
      display: grid;
      grid-template-columns: repeat(2, auto) minmax(100px, 390px) 1fr repeat(
          2,
          auto
        );
      background-color: rgba(255, 0, 0, 0.151);
    }

    @include respond-to("phone") {
      display: grid;
      grid-template-columns: 1fr;
      .header_item {
        display: none;
      }
      background-color: rgba(242, 245, 50, 0.164);
    }
//todo
    @include respond-to("tablet") {
      display: grid;
      grid-auto-columns: auto;
      grid-auto-rows: auto;
      grid-template-columns: 1fr 48px;
      grid-template-rows: 48px auto;
      gap: 0px 0px;
      grid-template-areas:
        "crd_clps crd_cta"
        "crd_expnd crd_expnd";
      background-color: rgba(60, 255, 0, 0.178);

      .crd_clps {
        grid-area: crd_clps;
      }
      .crd_cta {
        grid-area: crd_cta;
      }
      .crd_expnd {
        grid-area: crd_expnd;
      }
    }

    @include respond-to("other") {
      display: grid;
      grid-template-columns: repeat(2, auto) minmax(100px, 390px) 1fr repeat(
          2,
          auto
        );
      background-color: rgba(4, 0, 255, 0.158);
    }

    @include respond-to("large-desktop") {
      display: grid;
      grid-template-columns: repeat(2, auto) minmax(100px, 390px) 1fr repeat(
          2,
          auto
        );
      background-color: rgba(255, 0, 242, 0.151);
    }

    @include respond-to("custom", 1301px) {
      display: grid;
      grid-template-columns: repeat(2, auto) minmax(100px, 390px) 1fr repeat(
          2,
          auto
        );
      background-color: rgba(255, 0, 0, 0.11);
    }
*/
    //todo
    grid-gap: 2px;
    margin: 0 0 50px;

    .header_item {
      background-color: $primary;
      padding: 8px;
      color: $white;
      position: sticky;
      top: 61px;
      font-weight: 600;
    }

    .data-item {
      color: $darkprimary;
      font-size: 13px;
      @include apply-opacity($primary, 10);
      padding: 8px;
      white-space: normal;

      .menubar {
        width: 24px;
      }

      .title_year {
        b {
          font-family: "Isidora Sans Bold", sans-serif;
        }
        span {
          font-weight: 300;
        }
      }

      .desription {
        clear: both;
        width: 100%;
        height: auto;
      }
    }

    .item-hmxw {
      background-color: transparent !important;
      width: max-content;
    }
  }
}
