.svw-body {
  @include apply-opacity($primary, 10);
  border-radius: 6px;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0px 8px;

  .svw-cstm_frm {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 4px;
    border-radius: 6px;
    padding: 4px;

    .item_custom {
      display: grid;
      grid-gap: 8px;

      // Title & Upload date
      .cnt_row1 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr auto;
        gap: 0px 4px;

        // Title
        .col1 {
          @include svw_field;
        }

        // Upload date
        .col2 {
          @include svw_field;
        }
      }

      // Description
      .cnt_row2 {
        @include svw_field;
      }

      // Organization
      .cnt_row3 {
        @include svw_field;
      }

      // Category
      .cnt_row4 {
        @include svw_field;
      }

      // Year of completion & Author
      .cnt_row5 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr auto;
        gap: 0px 4px;
        justify-content: stretch;
        align-content: stretch;

        // Year of completion
        .col1 {
          @include svw_field;
        }

        // Author
        .col2 {
          @include svw_field;
        }
      }

      // Needs
      .cnt_row6 {
        @include svw_field;
      }

      // Comments
      .cnt_row7 {
        @include svw_field;
      }

      // Links
      .cnt_row8 {
        @include svw_field;
      }

      // Files
      .cnt_row9 {
        @include svw_field;
      }
    }
  }

  .cta_btn {

  }
}
