.boxaligncenter {
  width: 80% !important;
  display: grid;

  tbody {
    color: $FOS-Aubergine;
    font-size: 13px;
    background-color: rgba(92,56,115,.1);
    padding-bottom: 16px;

    tr {
      &:first-child {
        height: 0px !important;
        padding: 0px !important;
        line-height: 0 !important;
        td {
          border: none;
          padding: 0;
        }
      }
      td {
        border: none;
        .advancesearch {
          display: grid;
          grid-auto-columns: 1fr;
          grid-template-columns: 1fr 1fr;
          grid-auto-rows: auto;
          gap: 0 20px;
          width: auto;
          padding: 8px 16px;

          .col1 {
            @include col-style;

            .item1 {
              @include item-style;
              gap: 2px;

              select {
                @include content-style;
              }
            }

            .item2 {
              @include item-style;
              gap: 2px;

              .template-token {
                @include content-style;
                padding: 8px 10px;
              }
            }
          }

          .col2 {
            @include col-style;
            height: 65%;

            .item1,
            .item4 {
              @include item-style;

              input {
                @include content-style;
              }
            }

            .item2,
            .item3 {
              @include item-style;

              select {
                @include content-style;
              }
            }
            .item5 {
              .template-token {
                .form-inline {
                  display: flex;
                  flex-flow: row wrap;
                  width: 60%;
                  align-items: center;
                  gap: 5px 5px;
                  select {
                    margin-right: 4px;
                  }
                }
              }
            }
          }
        }
 
        .btn {
          margin: 0 8px;
          float: right;
        }
          .btn-primary{
            margin-right: 36px !important;
        }
      }
    }
  }
}
